#
# Copyright 2023 Datastrato Pvt Ltd.
# This software is licensed under the Apache License version 2.
#

# THE CONFIGURATION FOR Gravitino SERVER
gravitino.server.shutdown.timeout = 3000

# THE CONFIGURATION FOR Gravitino WEB SERVER
# The host name of the built-in web server
gravitino.server.webserver.host = 0.0.0.0
# The http port number of the built-in web server
gravitino.server.webserver.httpPort = 8090
# The min thread size of the built-in web server
gravitino.server.webserver.minThreads = 24
# The max thread size of the built-in web server
gravitino.server.webserver.maxThreads = 200
# The stop timeout of the built-in web server
gravitino.server.webserver.stopTimeout = 30000
# The timeout of idle connections
gravitino.server.webserver.idleTimeout = 30000
# The executor thread pool work queue size of the built-in web server
gravitino.server.webserver.threadPoolWorkQueueSize = 100
# The request header size of the built-in web server
gravitino.server.webserver.requestHeaderSize = 131072
# The response header size of the built-in web server
gravitino.server.webserver.responseHeaderSize = 131072

# THE CONFIGURATION FOR Gravitino ENTITY STORE
# The entity store to use, kv or relational
gravitino.entity.store = relational

# The RocksDB entity store
# gravitino.entity.store.kv = RocksDBKvBackend
# The storage path for RocksDB storage implementation, it supports both absolute and relative path,
# If the value is a relative path, the final path is "${GRAVITINO_HOME}/${PATH_YOU_HAVA_SET}", default value
# is "${GRAVITINO_HOME}/data/rocksdb", please uncomment and change it in your production environment.
# gravitino.entity.store.kv.rocksdbPath = data/rocksdb

# The JDBC entity store
gravitino.entity.store.relational = JDBCBackend
gravitino.entity.store.relational.jdbcUrl = jdbc:mysql://gaea.test.mysql03.b2c.srv:13616/gravitino_meta?useUnicode=true&characterEncoding=utf-8&useSSL=false
gravitino.entity.store.relational.jdbcDriver = com.mysql.jdbc.Driver
# Encrypt by keycenter, sid = `compute-infra-meta`
gravitino.entity.store.relational.jdbcUser = GCAPNyDSJ8AsVKihpj4ToYlkbxmJgfdEFj6bzGlo63AJoBgS6V1/PrhVR7e4ZekiwuCTIOr/GBBpyUH6QHdJ2rVFAWsqMCBiGBQ8CUazWfpuQP62BtTGwLkN3Q6M1gA=
gravitino.entity.store.relational.jdbcPassword = GDBv9+aOynejp7KqEvtLy8BTEva1GZ3rtBXXAIPqoy7yRJy2E/RaBhe2cL4Ww4+2MfsYEix7KrfMzkLLiUNy/O8LINBM/xgQH1aWWtzYSY68v5rRXN/YKhgUN9DQtQz8UZNOF3Rl3iJv1ibYEYEA

# THE CONFIGURATION FOR Gravitino CATALOG
# The interval in milliseconds to evict the catalog cache
gravitino.catalog.cache.evictionIntervalMs = 3600000

# THE CONFIGURATION FOR AUXILIARY SERVICE
# Auxiliary service names, separate by ','
gravitino.auxService.names = iceberg-rest
# Iceberg REST service classpath
gravitino.auxService.iceberg-rest.classpath = catalogs/lakehouse-iceberg/libs, catalogs/lakehouse-iceberg/conf
# Iceberg REST service host
gravitino.auxService.iceberg-rest.host = 0.0.0.0
# Iceberg REST service http port
gravitino.auxService.iceberg-rest.httpPort = 9001
# Enable the authorization
gravitino.authorization.enable = true

gravitino.authenticators = simple
# Gravitino super users authenticated by Simple Authenticator. Will encrypted by KeyCenter.
gravitino.authenticator.simple.superUsers=GHB06ECAVcMtNUGRXSyeiQq0K/K/jbgtt1MzhsWmasi3kB6dywtttq1Fh47GAKr3eJU4Tpn/Eqj4DXEUmxZVl2EK8vJtnICZY8npW4Zc7JAFwas3gJNRgvS4FQTrsR7QhZ31ZGayZR28GuoXdMdGv8TbGBIdzOfQ05JHsa7PMV1Rsm2Okf8YENH2/CXODE9NtsHUOTr5yagYFLewmFkaJ/3A2TPw2gl+2R0HHsEiAA==
gravitino.authenticator.simple.readOnly.superUsers=GFDnNfj6SS6Ish9t+01LUjnD7PNsvHllAxD0KHAiAs6iXtsROtrdxoI/6QnkHORNn/VcY/G9qMuIVfRilnuLrRYtbZuWM1bN++dfqhWARKeQmhgSsffoHMNKTAqNA90ukJCIZ/D/GBC6+43UDyNOhbne+nWspSUWGBTT+NwBykqN0C297GOTO7RGWTWL2QA=
# Disable local environment for Simple Authenticator.
gravitino.authenticator.simple.localEnv=false

#  gravitino audit config
gravitino.audit.enable = true
gravitino.audit.writer.class = com.datastrato.gravitino.audit.MqAuditLogWriter
gravitino.audit.formatter.class = com.datastrato.gravitino.audit.AuditLogFormatter
gravitino.audit.writer.rocketmq.producer.topic = gravitino_audit_log
gravitino.audit.writer.rocketmq.producer.address = staging-cnbj2-rocketmq.namesrv.api.xiaomi.net:9876
gravitino.audit.writer.rocketmq.producer.access-key = GCDIS/TyXxPUPi8WHEg6pl+7U450j044lJjpnGqyqckxoxgSHczn0NOSR7GuzzFdUbJtjpH/GBC3TPrn6RRG2JXX1sEmUlH6GBSDlrsGgvqnS06lIACsGLXMUu7OBQA=
gravitino.audit.writer.rocketmq.producer.secret-key = GDDK8renmzmFjPbAFySSaca8YkMp+KPaoNQRIvsqhGCQPtynV44ZZTAzGeqZmkX20hkYErH36BzDSkwKjQPdLpCQiGfw/xgQaCZliSX3TXCV8o5N5w+gexgUr0BH9bGfa6ShelVHGVw+EFKyCLAA
gravitino.audit.writer.rocketmq.producer.group = gravitino_producer
gravitino.audit.writer.rocketmq.producer.enable-msg-trace = true