#
# Copyright 2023 Datastrato Pvt Ltd.
# This software is licensed under the Apache License version 2.
#

engine-strict=true

registry=https://pkgs.d.xiaomi.net/artifactory/npm-remote-org
# @mi:registry = "https://pkgs.d.xiaomi.net/artifactory/api/npm/mi-npm/"
# registry=https://pkgs.d.xiaomi.net/artifactory/npm-remote-taobao

